<h1><%= @list.name %></h1>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
      <%= bookmark.movie.title %>
      <p>Comment: <%= bookmark.comment %></p>
      <%= link_to "Remove",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add movie", new_list_bookmark_path(@list) %>
